<h1>WHOAAAAA</h1>

<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
<ul>
  <li>
    <!-- <a href='/posts/'+post.id> Edit Post -->
    <%= link_to post.author, post_path(post) %>
  </li>
  <!-- <li>
    <%= post.author %>
  </li> -->
  <li>
    <%= post.title %>
  </li>
  <li>
    <%= post.body %>
  </li>
  <li>
    <%= post.id %>
  </li>
</ul>
<% end %>
