<!DOCTYPE html>
<html>
<head>
  <title>RailsPostsWorkshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <!-- <div class='jumbotron'> -->
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        g  |  Reddit
      </a>
      <% if current_user %>
        Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
      <% end %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Log In", login_path %>
    </div>
  </div>
</nav>
  <!-- </div> -->
<%= yield %>
</div>
</body>
</html>
